- var messages = flash()
- var type = ""
- var content = ""
- if (messages.info)
	- type = "alert-info"
	- if (messages.info instanceof Array ) {
		- for (var i in messages.info) {
			- content += messages.info[i] + "<br />"
		- }
	- } else  {
		- content = messages.info
	- }
	div(class="alert alert-dismissable " + type)
		button(type="button", data-dismiss="alert", aria-hidden="true").close &times;
		!= content

- if (messages.error)
	- type = "alert-danger"
	- if (messages.error instanceof Array ) {
		- for (var i in messages.error) {
			- content += messages.error[i] + "<br />"
		- }
	- } else  {
		- content = messages.error
	- }
	div(class="alert alert-dismissable " + type)
		button(type="button", data-dismiss="alert", aria-hidden="true").close &times;
		!= content

- if (messages.success)
	-type = "alert-success"
	- if (messages.success instanceof Array ) {
		- for (var i in messages.success) {
			- content += messages.success[i] + "<br />"
		- }
	- } else  {
		- content = messages.success
	- }
	div(class="alert alert-dismissable " + type)
		button(type="button", data-dismiss="alert", aria-hidden="true").close &times;
		!= content

- if (messages.warning)
	- type = "alert-warning"
	- if (messages.warning instanceof Array ) {
		- for (var i in messages.warning) {
			- content += messages.warning[i] + "<br />"
		- }
	- } else  {
		- content = messages.warning
	- }
	div(class="alert alert-dismissable " + type)
		button(type="button", data-dismiss="alert", aria-hidden="true").close &times;
		!= content


