extends layout/admin_layout

block content
	h2 Sommelier Manager
	include _flash

	p.pull-right
		a(href="/admin_panel/users/new")
			i.glyphicon.glyphicon-plus Agregar
	include user/_users_table

	script(src="/js/admin_users.js", async)
