doctype 5
html
	head
		title= title
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel='stylesheet', href='/css/bootstrap.css')
		link(href="/css/signin.css", rel="stylesheet")
		script(src="/js/jquery.js",  type="text/javascript", defer)
		script(src="/js/bootstrap.js",  type="text/javascript", defer)

	body
		.container
		form(role="form", ).form-signin
			h2 Prototipo - Home
			input(type="text", placeholder="Email / Nombre de usuario", id="input_username_email", name="email-username", required, autofocus).form-control
			input(type="password", placeholder="Contraseña" id="input_password", name="password", required).form-control
			label.checkbox
				input(type="checkbox")
				| Recordarme
			button(type="submit").btn.btn-lg.btn-block.btn-primary Iniciar Sesión

