nav(role="navigation").navbar.navbar-default
	.nav-header
		button(type="button", data-toggle="collapse", data-target="#main-menu").navbar-toggle
			span.sr-only Toggle navigation
			span.icon-bar
			span.icon-bar
			span.icon-bar
		a(href="/projects").navbar-brand Prototipo

		#main_menu.collapse.navbar-collapse.navbar-right
			ul.nav.navbar-nav
				li.active: a(href="/projects") Proyectos
				li: a Usuarios
